" Mode Map: Used to create a keymap
" nnoremap - Normal Mode Map
" inoremap - Insert Mode Map
" nmap - Normal Mode and Visual Mode Map
" vmap - Visual Mode Map
" imap - Insert Mode and Command-Line Mode Map
" map - Affects all modes.
" discover mode: https://jb.gg/share-ideavimrc

" basic stuff
set hlsearch
set scrolloff=10
set ignorecase smartcase
set showmode
set history=1000
set incsearch
set clipboard+=unnamed
set relativenumber
set ReplaceWithRegister
set visualbell
set idearefactormode=visual
set showcmd
set showmode
set ideastatusicon=gray
set virtualedit=onemore


" exit insert mode
inoremap jk <ESC>
